<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>New post</title>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <h1>New post</h1>
        <form action="#" th:action="@{/post/checkPost}" th:object="${post}" method="post">
<!--            <input type="hidden" th:field="*{user.id}"> TODO FIX ADDING USER TO POST-->
            <label>
                <input type="text" th:field="*{title}" placeholder="Enter post title">
            </label>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p><br>
            <label>
                <textarea th:field="*{content}" placeholder="Enter post content"></textarea>
            </label>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p><br>
        <button type="submit">Save post</button>
        <button type="reset">Clear post</button>
        </form>
        <a th:href="@{/}">Go back</a>
    </body>
</html>