<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Super Duper Blog</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Users List</h1>
    <table th:each="user : ${listOfAllUser}">
        <thead>
        <th>User name</th>
        <th>Registration ID</th>
        <th>Admin rights</th>
        </thead>
        <tbody>
        <td th:text="${user.username}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.admin}"></td>

        </tbody>
    </table>

</table>
</body>
</html>