<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Super Duper Blog</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Users List</h1>
    <table th:each="user : ${listOfAllUser}">
        <thead>
        <th>Registration ID</th>
        <th>User name</th>
        <th>Admin rights</th>
        <th>Modify account</th>
        </thead>
        <tbody>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
<!--        <td th:text="${user.admin}"></td>-->
        <td th:if="${user.admin}" th:text="Yes"></td>
        <td th:unless="${user.admin}" th:text="No"></td>
        <td>
            <a th:href="@{/users/admin/showFormForUpdate/{id}(id=${user.id})}">update</a>
            <a th:href="@{/users/admin/showFormForDelete/{id}(id=${user.id})}">delete</a>
        </td>
        <td>
        </tbody>
    </table>

</table>
</body>
</html>