<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Super Duper Blog</title>
  <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Edit User Account</h1>

<form action="#" th:action="@{/users/registration}" th:object="${user}" method="post">
  <label>
    <input type="text" th:field="*{username}" placeholder="Edit username">
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{id}">
  </label>
  <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

  <label>
    <select th:field="*{admin}">
      <option th:value="'True'" th:text="Yes"></option>
      <option th:value="'False'" th:text="No"></option>
    </select>
  </label>

  <!--  <input type="hidden" th:field="*{id}">-->
  <button type="submit">Save User</button>
</form>
<hr>
<a th:href="@{/index}">Back to main page</a>
</body>
</html>