<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
  <body>
    <form action="#" th:action="@{/users/checkInfo}" th:object="${user}" method="post">
      <label>
        <input type="text" th:field="*{username}" placeholder="Username">
      </label>
      <label>
        <input type="text" th:field="*{password}" placeholder="Password">
      <p th:if="${#password.equals(password)}">Incorrect password!</p><br>
      </label>
    </form>

  </body>
</html>