<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Super Duper Blog</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Registration Form</h1>

<div class="container text-center">
  <div>
    <h1>User Registration - Sign Up</h1>
  </div>
  <form th:action="@{/process_register}" th:object="${user}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <table>
      <tr>
        <td>
          <label>E-mail:
            <input type="email" th:field="*{email}" required />
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Username:
            <input type="text" th:field="*{username}" required />
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Password:
            <input type="password" th:field="*{password}"
                   required minlength="8" maxlength="64"/>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>First Name:
            <input type="text" th:field="*{firstName}" required />
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Last Name:
            <input type="text" th:field="*{lastName}"/>
          </label>
        </td>
      </tr>
    </table>
    <button type="submit" >Sign Up</button>
  </form>
<hr>
</div>
<a th:href="@{/users}">Back to User List</a>
</body>
</html>