<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Super Duper Blog</title>
    </head>
    <body>
        <h1>Super Duper Blog</h1>
            <div th:each="post : ${listOfPosts}">
                <p th:text="${post.user}">Posted by:</p><br>
                <p th:text="${post.postedWhen}">Date:</p><br>
                <p th:text="${post.content}">Content:</p><br>
            </div>
        <a th:href="@{post/new}">Add new post</a>
    </body>
</html>