<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Super Duper Blog</title>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>


    <body>
        <header class="header">
            <p style="color:white;" th:text="'Welcome ' + ${user.name}"></p>
            <div class="container">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
            <a th:href="@{/users}">User page</a>
            <a th:href="@{/post/add}">Add new post</a><br>
            <h1>Super Duper Blog</h1><br>
            <img src="https://picsum.photos/700/250" alt="Image of the day" title="Image of the day">
        </header>
    <div>


        <div class="post" th:each="post : ${listOfPosts}">
            <a th:href="@{/post/edit/{id}(id=${post.getId()})}">Edit</a>
            <h2 th:text="${'Title: ' + post.getTitle()}"></h2><br>
            <h3 th:text="${post.getContent()}"></h3><br>
            <p class="author" th:text="${'Posted by: ' + post.user.username}" ></p><br>
            <p class="date" th:text="${'Date: ' + post.postedAt}"></p><br>

                <form class="container" action="#" th:action="@{/post/addComment/{id}(id=${post.getId()})}" th:object="${comment}" method="post">
                    <label>
                        <textarea  th:field="*{content}" placeholder="Enter your comment" required></textarea>
                    </label>
                    <button type="submit">Add new comment</button>
                    <button type="reset">Clear comment</button>
                </form>
                <p th:if="${post.commentList.isEmpty()}">There are no comments on this post, be the first to comment!!!</p>
                <div th:if="${!post.commentList.isEmpty()}">
                    <div class="comment" th:each="postComment : ${post.commentList}">
                        <p th:text="${'Posted by: ' + postComment.user.username}" ></p>
                        <p th:text="${'Date: ' + postComment.postedAt}"></p>
                        <p th:text="${postComment.content}"></p><br>
                        <a th:href="@{/comment/edit/{id}(id=${postComment.getId()})}">Edit</a>
                        <a>&#128077;</a>
                        <a>&#128078;</a>
                    </div>
                </div>
            </div>

    </div>
        <footer class="footer">
            <img src="https://www.telekom.de/resources/images/867480/telekom-logo-claim.svg" alt="Telekom - Erleben, was verbindet.">
            <p>2022 © Lukáš Petříček & Filip Husić</p>
        </footer>
    </body>
</html>