<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Super Duper Blog</title>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>


    <body>
        <p th:text="'Welcome ' + ${#request.userPrincipal.name}"></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <header class="header">
            <a th:href="@{/users}">User page</a>
            <a th:href="@{/post/add}">Add new post</a><br>
        </header>
        <p th:if="${listOfPosts.isEmpty()}">There are no post here, be the first to post something!!!</p>
    <div th:if="${!listOfPosts.isEmpty()}">

        <h1>Super Duper Blog</h1>
            <div class="post" th:each="post : ${listOfPosts}">
                <h2 th:text="${'Title: ' + post.getTitle()}"></h2><br>
                <img src="https://picsum.photos/800/250" alt="random picture">
                <h3 th:text="${post.getContent()}"></h3><br>
                <p class="author" th:text="${'Posted by: ' + post.user.username}" ></p><br>
                <p class="date" th:text="${'Date: ' + post.postedAt}"></p><br>

                <table>
                    <tr>
                        <td>
                            <a>&#10084; Like</a>
<!--                            <a th:if="${#request.userPrincipal.name == post.user.getUsername()}">Edit</a>-->
<!--                            <a th:href="@{/post/delete/{id}(id=${post.id})}"-->
<!--                                    th:data-confirm-delete="|Are you sure you want to delete this post: ${post.title}?|"-->
<!--                                    onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>-->
                        </td>
                    </tr>
                </table>
                <a th:href="@{/post/comment}">Add new comment</a>
                <p th:if="${post.commentList.isEmpty()}">There are no comments on this post, be the first to comment!!!</p>
                <div th:if="${!post.commentList.isEmpty()}">
                    <div class="comment" th:each="comment : ${post.commentList}">
                        <p th:text="${'Posted by: ' + comment.user}" ></p><br>
                        <p th:text="${'Date: ' + comment.createdAt}"></p><br>
                        <p th:text="${comment.content}"></p><br>
                        <a>&#128077;</a>
                        <a>&#128078;</a>
                        <a>Reply</a>
                    </div>
                </div>
            </div>

    </div>
    </body>
</html>