<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Super Duper Blog</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>


  <body>
    <header class="header">
      <p style="color: white" th:text="'Hello guest, login to unlock additional site features'"></p>
      <a th:href="@{/login}">Login</a>
      <a th:href="@{/users/registration}">Register</a>
    </header>
    <div>

      <h1>Super Duper Blog</h1>
      <img src="https://picsum.photos/600/250" alt="Image of the day" title="Image of the day">

      <div class="post" th:each="post : ${listOfPosts}">
        <h2 th:text="${'Title: ' + post.title}"></h2><br>
        <h3 th:text="${post.content}"></h3><br>
        <p class="author" th:text="${'Posted by: ' + post.user.username}" ></p>
        <p class="date" th:text="${'Date: ' + post.postedAt}"></p>
        <p th:if="${post.commentList.isEmpty()}">There are no comments on this post, login/register now and be the first to comment!!!</p>
        <div th:if="${!post.commentList.isEmpty()}">
          <div class="comment" th:each="postComment : ${post.commentList}">
            <p th:text="${'Posted by: ' + postComment.user.username}" ></p>
            <p th:text="${'Date: ' + postComment.postedAt}"></p>
            <p th:text="${postComment.content}"></p><br>
          </div>
        </div>
      </div>

    </div>
  <footer class="footer">
    <img src="https://www.telekom.de/resources/images/867480/telekom-logo-claim.svg" alt="Telekom - Erleben, was verbindet.">
    <p>2022 © Lukáš Petříček & Filip Husić</p>
  </footer>
  </body>
</html>