<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Super Duper Blog</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>


<body>
<!--        <h1 th:text="'Hello' + ${#request.userPrincipal.name}!"></h1>-->
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
<header class="header">
  <a th:href="@{/login}">Login</a>
  <a th:href="@{/users/registration}">Register</a>
</header>
<p th:if="${listOfPosts.isEmpty()}">There are no post here, be the first to post something!!!</p>
<div th:if="${!listOfPosts.isEmpty()}">

  <h1>Super Duper Blog</h1>
  <div id="post" th:each="post : ${listOfPosts}">
    <p th:text="${'Posted by: ' + post.user.username}" ></p><br>
    <p th:text="${'Date: ' + post.postedAt}"></p><br>
    <p th:text="${'Title: ' + post.title}"></p><br>
    <p th:text="${post.content}"></p><br>
    <p th:if="${post.commentList.isEmpty()}">There are no comments on this post, login/register now and be the first to comment!!!</p>
    <div th:if="${!post.commentList.isEmpty()}">
      <div id="comment" th:each="comment : ${post.commentList}">
        <p th:text="${'Posted by: ' + comment.user}" ></p><br>
        <p th:text="${'Date: ' + comment.createdAt}"></p><br>
        <p th:text="${comment.content}"></p><br>
        <a>&#128077;</a>
        <a>&#128078;</a>
        <a>Reply</a>
      </div>
    </div>
  </div>

</div>
</body>
</html>